{% extends 'base.html' %}

{% block title %}Confirmar Eliminación de Bodega{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar la bodega "{{ bodega.nombre_bodega }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'lista_bodegas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}

